
.about {
    height: 60vh;
    display: flex;
    flex-direction: column;
    color: $sWhite; 
    padding: 1rem 0;
    gap: 1rem;
}

.about-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border:0.5px;
    border-radius: 0.5rem;
}

@include devices(desktop){
    .about{
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }
    .about-text{
        width: 100%;
        flex: 70%;
        padding:10%;
        height: 50%;
        // border-right: 1px solid  #a27777;
        // border-left: 1px solid #a27777;
    }

    .about-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;

        button{
            color: #fff;
            width:  80%;
            height: 40%;
            border-radius: .3125rem;
            border: none;
            // border-left: 1px solid #a27777;
            background-color: rgb(12, 12, 12);
        }
    }
}