     h2{
            font-size: 2rem;
            font-weight: 200;
            background-color: transparent;
            color: rgba(123, 230, 194, 0.868);
        }

        h3 {
            font-size: 1rem;
            font-weight: 200;
            background-color: transparent;
            color: rgba(112, 155, 194, 0.451);
        }
        p{
            font-size: 1rem;
            font-weight: 200;
            background-color: transparent;
        }

        h5 {

            font-size: 1.5rem;
            font-weight: 200;
            background-color: transparent;
            color: rgba(112, 155, 194, 0.451);
        }

        span{ 
            font-size: 1rem;
            font-weight: 200;
            background-color: transparent;
            color: rgba(130, 197, 255, 0.451);
        }