     h2{
            font-size: 2rem;
            font-weight: 200;
            background-color: transparent;
            color: aquamarine;
        }
        p{
        

            font-size: 1rem;
            font-weight: 200;
            background-color: transparent;
        }

        h5 {

            font-size: 1.5rem;
            font-weight: 200;
            background-color: transparent;
        }