 section {
    width:100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-bottom: 0.25px solid #313030; 
}

.hero-text{
    // background-color: rgb(13, 15, 15);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border:0.5px;
    border-radius: 0.5rem;

}