 section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-text{
    // background-color: rgb(13, 15, 15);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border:0.5px;
    border-radius: 0.5rem;

}

@include devices(desktop){
    section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #101010;
    }

    .hero-text{
        flex: 60%;
        height: 50%;
        padding-left: 10%;
        box-sizing: border-box;
        gap: 2rem;
    }
}