.projects{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .projects-text{
     border:0.5px;
     border-radius: 0.5rem;
     padding: 0.5rem;
     background-color: #191919;
}

button{
    width: 20%;
    height: 10%;
    background-color: #a27777;
    display: flex;
    align-items: center;
    padding: 1%;
    color: #fff;
    text-decoration: none;
    border: none; 
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
            background-color: #874e4e;
        }

    a { 
        color: #000000;
        text-decoration: none;
        background-color: transparent;
        width:max-content;
    }
}

@include devices (desktop){
    .projects-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 0.5rem;
    }
}