.projects{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .projects-text{
     background-color: rgb(13, 15, 15);
     border:0.5px;
     border-radius: 0.5rem;
     padding: 0.5rem;
}

    a { 
        color: chocolate;
        text-decoration: none;
        background-color: rgb(27, 31, 35);
        width:max-content;
    }
}

