.sidebar {
    width: 100%;
    height: 100vh;
    background-color: $sBlack;

    ul {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column; 
        // justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        li {
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover {
                background-color:#5b2e2e;
                color: $sBlack;
            }
            a {
                text-decoration: none;
                background-color: transparent;
                color: #a27777;
            }
        }
    }
}