@import url(http://fonts.googleapis.com/css?family=Poppins|Open+Sans:400italic,700italic,400,700);
section {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text {
  background-color: #0f0e0d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border: 0.5px solid rgba(0, 77, 77, 0.422);
  border-radius: 0.5rem;
}

.hero-text :hover {
  background-color: #50483d;
}

.about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fcfcfc;
  padding: 1rem 0;
  gap: 1rem;
}

.services {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
}

h5 {
  font-size: 1rem;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0.5px;
  font-family: "Poppins", serif;
  background-color: #000000;
}

.hero-section :hover {
  background-color: #161616;
}

.hero-section .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #fcfcfc;
  border: 0.5px 1rem solid #c2a3ff66;
}

.hero-section .hero-text h2 {
  font-family: "Poppins", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.hero-section .hero-text p {
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  font-weight: 200;
  background-color: transparent;
}

.hero-section .hero-text h5 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .hero-section .hero-text h1 {
    font-size: 2rem;
  }
  .hero-section .hero-text p {
    font-size: 1rem;
  }
}

.sidebar {
  width: 100%;
  height: 80vh;
  background-color: #000;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  gap: 0,5rem;
}

.sidebar ul {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1rem;
  border: 0.5px 1rem solid #c2a3ff66;
  border-radius: 10px;
}

.sidebar ul li {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar ul li:hover {
  background-color: #fcfcfc;
  color: #000;
}

.sidebar ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar ul li a {
  text-decoration: none;
}

.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #fcfcfc;
}

.about .about-text h2 {
  font-family: "Poppins", serif;
  font-size: 2rem;
}

.about .about-text p {
  font-family: "Poppins", serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.about .about-text h5 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  .about .hero-text h1 {
    font-size: 2rem;
  }
  .about .hero-text p {
    font-size: 1rem;
  }
}

.services .services-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #fcfcfc;
}

.services .services-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.services .services-text h2 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.services .services-text p {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
}

.services .services-text h5 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
}

.projects h1 {
  font-family: "Poppins", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projects p {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
}

.projects h5 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 200;
}
/*# sourceMappingURL=styles.css.map */