$primaryColor: #9663fd;
$sBlack: #000;
$sWhite: #fff;
$border1: 1px solid #9663fd ;
$border2: 2px solid #000;
@import url(http://fonts.googleapis.com/css?family=Poppins|Open+Sans:400italic,700italic,400,700);

// Font Variables
$popins: 'Poppins', serif;   
$open-sans: 'Open Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: transparent;
}
   ul{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10%;
    height: 2rem;
    }
        
    li {
        font-size: 1rem;
        color: #be9efd;
        font-weight: normal;
        &:hover{
            color: $primaryColor;
        }
            a {
                color: #be9efd;
                text-decoration: none;
                &:hover{
                    color: $primaryColor;
                    border-bottom: #9663fd 4px solid;
                }
        }
}

.hero {
    background-color: #131c2c;
    height: 100vh;
    padding: 10% 10%;

    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 1rem;
        p:first-child{
            color: rgb(76, 72, 167);
        }

        p{
            color: rgb(76, 72, 167);
            font-size: 1rem;
            font-weight: 700;
            font-family: $popins;
        }
        h1{
            color: #c2a8f8f9;
            font-size: 4rem;
        }
        h2{
            color: #ab94d9c7;
            font-size: 3rem;
        }
    }
}

.hero-btns{
    display: flex;
    gap: 5%;
}

button{
    background-color: transparent;
    color: $sWhite;
    border: 1px solid $primaryColor;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: $popins;
    border-radius: 5px;
    &:hover{
        background-color: #c3a8f8a2;
        color: $sBlack;
    }
}
