@import url(http://fonts.googleapis.com/css?family=Poppins|Open+Sans:400italic,700italic,400,700);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131c2c;
}

h5 {
  color: #c3a8f850;
}

h2 {
  color: #c3a8f8e0;
  font-size: 2rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  background-color: black;
}

ul {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 10%;
  height: 2rem;
}

li {
  font-size: 1rem;
  color: #be9efd;
  font-weight: normal;
}

li:hover {
  color: #dcdcdd;
}

li a {
  color: #be9efd;
  text-decoration: none;
}

li a:hover {
  color: #dcdcdd;
  border-bottom: #9663fd 4px solid;
}

.about {
  background-color: #000;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.about h1 {
  color: #aaaaaa;
  font-size: 3rem;
}

.about p {
  padding: 5% 2% 2% 10%;
  color: #aaaaaa;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.services {
  background-color: #131c2c;
  width: 60%;
  height: 75vh;
  padding: 5% 2% 2% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.services h1 {
  color: #aaaaaa;
  font-size: 3rem;
}

.services p {
  color: #aaaaaa;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.projects {
  background-color: #131c2c;
  width: 60%;
  height: 75vh;
  padding: 5% 2% 2% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.projects h1 {
  color: #aaaaaa;
  font-size: 3rem;
}

.projects p {
  color: #aaaaaa;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.hero {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 70%;
  border-right: #be9efd 1px solid;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 100%;
  padding: 5% 2% 2% 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.hero .hero-text p {
  color: white;
  width: 70%;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.8;
  font-family: "Poppins", serif;
}

.hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
}

button {
  background-color: transparent;
  color: #aaaaaa;
  border: 1px solid #dcdcdd;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", serif;
  border-radius: 5px;
}

button:hover {
  background-color: #c3a8f8a2;
  color: #000;
}

.photo {
  background-color: #000;
  height: 100vh;
  width: 30%;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
  border: 1px solid #dcdcdd;
}
/*# sourceMappingURL=styles.css.map */