$primaryColor: #dcdcdd;
$sBlack: hsl(0, 0%, 0%);
$sWhite: rgb(80, 80, 80);
$border1: 0.5px 1rem solid #c2a3ff66;
$border2: 2px solid #000;

@import url(http://fonts.googleapis.com/css?family=Poppins|Open+Sans:400italic,700italic,400,700);
@import "mixins";
@import 'hero';
@import 'about';
@import 'services';
@import 'projects';
@import 'fonts';
@import 'contact';
@import 'sidebar';
@import 'footer';
// Font Variables
$popins: 'Poppins', serif;
$open-sans: 'Open Sans', sans-serif;

* {
    margin: 0;
    padding: 1px;
    font-family: $popins;
    background-color: #101010;
}

@include devices(desktop){
    .main-container {
    display: flex;
}

.divider {
  width: 5;
  height: 100%;
  background-color: #a27777;
  position: fixed;
  left: 69%;
}


.app-container{
    height: 100%;
    border-right: 1px solid #dcdcdd;
    width: 69%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
}
.hero-section{

    .hero-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $sWhite;
        border: $border1;
    
        }
    }

    @include devices (mobile){
        .hero-text{
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }

.about{

      .about-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $sWhite;
    }

    @include devices (mobile){
        .hero-text{
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}

.projects{
    .projects-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $sWhite;
    }
}


